body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

#main-title {
  font-size: 80px;
  padding-top: 80px;
}

#main-page div {
  display: flex;
  flex-wrap: wrap;
}

#main-page img {
  width: 33%;
  align-self: center;
  position: relative;
  bottom: 100px;
}

#main-page h2 {
  display: inline;
  padding-left: 20%;
  position: relative;
  top: 100px;
}

#graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#graphs div {
  margin: 20px;
}

.outlier {
  stroke: red !important;
}

em {
  font-weight: 500;
  background-color: #ccff00;
}

p {
  font-size: 15px;
  margin: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

.ref {
  font-size: 12px;
  font-weight: 200;
}

h1 {
  text-align: center;
  padding-top: 70px;
}

.more_1000 {
  color: red;
}

#frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  transition: all 0.5s ease;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sticky {
  transition: all 0.5s ease;
  background-color: #d90427e3;
}

.menu a {
  margin: 10px;
  font-size: 14px;
}

.menu a:visited,
.menu a:link {
  color: white;
  font-style: normal;
  text-decoration: none;
  background-color: #202020;
  width: auto;
  padding: 5px;
  border-radius: 0.5em;
}

.menu a:hover {
  color: #d90429;
}

#root div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root svg {
  margin: 20px;
}
