body {
  font-family: "Roboto Mono", monospace;
}

#graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#graphs div {
  margin: 20px;
}

.outlier {
  stroke: red !important;
}

p em {
  font-weight: 500;
}

p {
  font-size: 15px;
  margin: 20px;
}

.ref {
  font-size: 12px;
  font-weight: 200;
}

h1 {
  text-align: center;
}
