body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

#main-title {
  font-size: 80px;
  padding-top: 80px;
}

#main-page div {
  display: flex;
  flex-wrap: wrap;
}

#main-page img {
  width: 33%;
  align-self: center;
  position: relative;
  bottom: 100px;
}

#main-page h2 {
  display: inline;
  padding-left: 20%;
  position: relative;
  top: 100px;
}

#graphs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#graphs div {
  margin: 20px;
}

.outlier {
  stroke: red !important;
}

em {
  font-weight: 500;
  background-color: #ccff00;
}

p {
  font-size: 15px;
  margin: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

.ref {
  font-size: 12px;
  font-weight: 200;
}

h1 {
  text-align: center;
  padding-top: 70px;
}

.more_1000 {
  color: red;
}

#frontpage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  transition: all 0.5s ease;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sticky {
  transition: all 0.5s ease;
  background-color: #d90427e3;
}

.menu a {
  margin: 10px;
  font-size: 14px;
}

.menu a:visited,
.menu a:link {
  color: white;
  font-style: normal;
  text-decoration: none;
  background-color: #262626;
  width: auto;
  padding: 5px;
  border-radius: 0.5em;
}

.menu a:hover {
  color: #d90429;
}

#root div,
#nba-interactive div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root svg {
  margin: 20px;
}

#interactive {
  padding-bottom: 20px;
}

#jharden:hover {
  transition: all 0.1s ease;
  opacity: 1;
}
#jharden:active {
  transform: translateY(4px);
}

.clicked-img {
  transition: all 0.1s ease;
  opacity: 1 !important;
}

#jharden {
  opacity: 0.6;
}

#made-shots-btn {
}

.made-text {
  fill: greenyellow;
}

.hidden {
  display: none;
}

.hidden-harden {
  display: none;
}

.showMade {
  display: none;
}

#message-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-cont p {
  font-size: 40px;
  padding-top: 30px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  right: 100px;
}

.slidecontainer {
  width: 60%; /* Width of the outside container */
  padding: 5px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  background: #262626; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #d90429; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #d90429; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#top-inter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-container {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

#btn-container button {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 0.5em;
  border: #262626 solid 3px;
}

.info-mess {
  color: #262626;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  position: relative;
  right: 100px;
  padding-top: 10px;
}

#interactive img {
  width: 33%;
  position: relative;
  left: 33%;
  border: #262626 solid 3px;
  border-radius: 2em;
  z-index: -1;
}

#interactive p {
  padding-top: 20px;
}
